#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  .parent-div {
    margin-left: 50%;
  }
  .vue-img {
    background: url('../assets/images/logo.png');
    height: 200px;
    margin-left: -100px;
    width: 200px;
  }
}
