.padding-left6 {
  padding-left: 6px;
}
.padding-left8 {
  padding-left: 8px;
}
.padding-left10 {
  padding-left: 10px;
}
.padding-left12 {
  padding-left: 12px;
}
.padding-left14 {
  padding-left: 14px;
}
.padding-left16 {
  padding-left: 16px;
}
.padding-left18 {
  padding-left: 18px;
}
.padding-left20 {
  padding-left: 20px;
}
.padding-left24 {
  padding-left: 24px;
}

.padding-right6 {
  padding-right: 6px;
}
.padding-right8 {
  padding-right: 8px;
}
.padding-right10 {
  padding-right: 10px;
}
.padding-right12 {
  padding-right: 12px;
}
.padding-right14 {
  padding-right: 14px;
}
.padding-right16 {
  padding-right: 16px;
}
.padding-right18 {
  padding-right: 18px;
}
.padding-right20 {
  padding-right: 20px;
}
.padding-right24 {
  padding-right: 24px;
}

.padding-top10 {
  padding-top: 10px;
}
.padding-top12 {
  padding-top: 12px;
}
.padding-top14 {
  padding-top: 14px;
}
.padding-top16 {
  padding-top: 16px;
}
.padding-top18 {
  padding-top: 18px;
}
.padding-top20 {
  padding-top: 20px;
}
.padding-top22 {
  padding-top: 22px;
}
.padding-top24 {
  padding-top: 24px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}
.padding-bottom12 {
  padding-bottom: 12px;
}
.padding-bottom14 {
  padding-bottom: 14px;
}
.padding-bottom16 {
  padding-bottom: 16px;
}
.padding-bottom18 {
  padding-bottom: 18px;
}
.padding-bottom20 {
  padding-bottom: 20px;
}
.padding-bottom24 {
  padding-bottom: 24px;
}
