.float-left,
.pull-left {
  float: left;
}

.float-right,
.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.relPos {
  position: relative;
}

.absPos {
  position: absolute;
}

.displayInlineBlock {
  display: inline-block;
}



