.margin-left6 {
  margin-left: 6px;
}
.margin-left8 {
  margin-left: 8px;
}
.margin-left10 {
  margin-left: 10px;
}
.margin-left12 {
  margin-left: 12px;
}
.margin-left14 {
  margin-left: 14px;
}
.margin-left16 {
  margin-left: 16px;
}
.margin-left18 {
  margin-left: 18px;
}
.margin-left20 {
  margin-left: 20px;
}
.margin-left24 {
  margin-left: 24px;
}

.margin-right6 {
  margin-right: 6px;
}
.margin-right8 {
  margin-right: 8px;
}
.margin-right10 {
  margin-right: 10px;
}
.margin-right12 {
  margin-right: 12px;
}
.margin-right14 {
  margin-right: 14px;
}
.margin-right16 {
  margin-right: 16px;
}
.margin-right18 {
  margin-right: 18px;
}
.margin-right20 {
  margin-right: 20px;
}
.margin-right24 {
  margin-right: 24px;
}

.margin-top10 {
  margin-top: 10px;
}
.margin-top12 {
  margin-top: 12px;
}
.margin-top14 {
  margin-top: 14px;
}
.margin-top16 {
  margin-top: 16px;
}
.margin-top18 {
  margin-top: 18px;
}
.margin-top20 {
  margin-top: 20px;
}
.margin-top22 {
  margin-top: 22px;
}
.margin-top24 {
  margin-top: 24px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}
.margin-bottom12 {
  margin-bottom: 12px;
}
.margin-bottom14 {
  margin-bottom: 14px;
}
.margin-bottom16 {
  margin-bottom: 16px;
}
.margin-bottom18 {
  margin-bottom: 18px;
}
.margin-bottom20 {
  margin-bottom: 20px;
}
.margin-bottom24 {
  margin-bottom: 24px;
}
